<div class="tags_container">
                                    
    <% Article.get_keyword_article.keywords.each do |item| %>
                
        <a href="<%= search_path(keyword: item) %>" class=""><strong><%= item.html_safe %></strong></a>
        
    <% end %>
    
    <% if !Article.get_keyword_article.nil? and false %>
       
        <ul class="tags_cloud" style="display: none">
            
            <% Article.get_keyword_article.keywords.each do |item| %>
                
                <li><a href="#" class="button_grey"><%= item.html_safe %></a></li>
            
            <% end %>

        </ul><!--/ .tags_cloud-->
   
    <% end %>
    
</div>