<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty12">
        <div class="container">

            <h1>Video Backgrounds</h1>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix"></div>


    <div class="master-slider ms-skin-default" id="masterslider">

        <div class="ms-slide slide-1" data-delay="9">

            <div class="slide-pattern"></div>

            <h3 class="ms-layer white center text2 caps" style="top: 300px;" data-type="text" data-effect="rotate3dtop(70,0,0,90)" data-duration="1000" data-delay="500" data-ease="easeInOutQuint">
        <strong>Power Pack Theme</strong>
        
    </h3>

            <a class="ms-layer sbut3" style="left: 599px; top: 400px;" data-type="text" data-delay="2000" data-ease="easeOutExpo" data-duration="1200" data-effect="scale(1.5,1.6)">
        PURCHASE NOW!
        
    </a>


            </h3>

            <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
        <source src="http://gsrthemes.com/aaika/fullwidth/images/sliders/master/video/video4.mp4" type="video/mp4"/>
        <source src="http://gsrthemes.com/aaika/fullwidth/images/sliders/master/video/video.webm" type="video/webm"/>
        <source src="http://gsrthemes.com/aaika/fullwidth/images/sliders/master/video/video.ogv" type="video/ogg"/>
    </video>

        </div>
        <!-- end slide -->

    </div>
    

    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<!-- get jQuery used for the theme - only video background page -->
<script src="/frontend/js/masterslider/masterslider.min.js"></script>
<script type="text/javascript">
    (function($) {
        "use strict";
        var slider = new MasterSlider();

        slider.setup('masterslider', {
            width: 1400, // slider standard width
            height: 720, // slider standard height
            space: 0,
            speed: 27,
            layout: 'fullwidth',
            loop: true,
            preload: 0,
            autoplay: true,
            view: "wave",
        });
    })(jQuery);
</script>