#contact_form_validate input.error, #contact_form_validate textarea.error {
	border-color: red;
}
#newsletter_form_validate input.error, #newsletter_form_validate textarea.error {
	border: red solid 2px;
}
label.error {
	display: none !important;
}
.cforms input, .cforms textarea {
    border-radius: 3px;
}
#map_canvas {
    margin: 0;
    padding: 0;
    max-width: none;
	border: 5px solid #d6d6c2;
}
.cforms .button, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
.text-justify {
	text-align: justify;
}

/* pagination */
.div_pagination.center {
	text-align: center;
}
.div_pagination.center b{
	float: inherit;
}
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination > span.previous_page, .pagination > a {
	font-size: 12px;
    color: #454545;
    background-color: #eee;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 10px;
    border-radius: 3px;
}
.pagination > em.current, .pagination > span.disabled {
	color: #fff;
    background-color: #454545;
	font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 10px;
    border-radius: 3px;
}
.pagination > span.previous_page:hover, .pagination > a:hover {
	color: #fff;
	background-color: #454545;
}
.feature_section11 ul.domlist1 {
	width: 25%;
}