#contact_form_validate input.error, #contact_form_validate textarea.error {
	border-color: red;
}
#newsletter_form_validate input.error, #newsletter_form_validate textarea.error {
	border: red solid 2px;
}
#enter_domain_name input.error, #enter_domain_name textarea.error {
	border: red solid 2px;
	border-radius: 3px;
}
label.error {
	display: none !important;
}
.cforms input, .cforms textarea {
    border-radius: 3px;
}
#map_canvas {
    margin: 0;
    padding: 0;
    max-width: none;
	border: 5px solid #d6d6c2;
}
.cforms .button, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
.text-justify {
	text-align: justify;
}

/* pagination */
.div_pagination.center {
	text-align: center;
}
.div_pagination.center b{
	float: inherit;
}
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination > span.previous_page, .pagination > a {
	font-size: 12px;
    color: #454545;
    background-color: #eee;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 10px;
    border-radius: 3px;
}
.pagination > em.current, .pagination > span.disabled {
	color: #fff;
    background-color: #454545;
	font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 10px;
    border-radius: 3px;
}
.pagination > span.previous_page:hover, .pagination > a:hover {
	color: #fff;
	background-color: #454545;
}
.feature_section11 ul.domlist1 {
	width: 25%;
}
ul.tabs li {
	width: 50%;
}
p {
	margin-bottom: 15px;
}
.blog_postcontent .image_frame img {
	border: 2px solid gray;
}
figure.span4.m-span3.picture-item.gallery.shuffle-item.filtered {
    border: 1px solid #d9d9d9;
}
a#img_mobile {
    width: auto;
    display: table-caption;
    height: 100%;
    margin-top: 20px;
}
img#img_mobile {
    width: auto;
	margin-left: 20px;
}
.portfolio_area_left img {
	border: 1px solid gray;
	margin-bottom: 5px;
}
.text-justify p img {
	width: 100%;
}
.footer .ftop .right .input_submit {
	margin-left: 4px;
}
div.free_setup {
    color: #fff;
    background-color: #43bb7e;
    height: 30px;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 10px 0;
    margin: 0 auto;
    line-height: 100%;
    font-weight: bold;
    font-size: .8em;
}
.page_title1.sty7 .serch_area .enter_email_input {
	width: 72.6%;
}
.row-fluid .btn--warning {
	margin-bottom: 10px;
}
.feature_section11 .domlist1 li {
	height: 58px;
}
ul.tabs {
	font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 479px) {
	.page_title1.sty7 .serch_area .enter_email_input {
		width: 100%;
	}
}