/*!
 * 
 * Custom CSS
 * 
 */
.main-nav > li > a, .footer-links li a {
    padding: 18px 15px !important;
}
.text-justify {
    text-align: justify
}
.sum_price {
    margin-top: 15px;
}
.text-red {
    color: #e32a53;
}
.error-content {
    padding: 40px 0;
}
.section {
    padding-bottom: 40px;
}
label.error {
	display: none !important;
}
#form_validate input.error, #form_validate textarea.error {
    border: 1px solid red;
}
.send-success-contact {
    padding: 0px 0px !important;
}
.new_blogs {
    border: solid 1px #999;
}
input.form-control.error, textarea.form-control.error {
        border: solid 1px red;
}
/*css pagination*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #141414;
    border-color: #141414;
}
.pagination > li > a, .pagination > li > span {
    padding: 7px 13px;
    margin: 0 2px;
    font-size: 11px;
    color: #6a6a6a;
    background-color: #ededed;
    border: 2px solid #ededed;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 7px 13px;
    margin: 0 2px;
    font-size: 11px;
    color: #6a6a6a;
    background-color: #ededed;
    border: 2px solid #ededed;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #ededed;
    border-color: #141414;
}
/*end css Pagination*/
.section_product_box {
    padding-top: 0px;
}


:hov


.cls

element.style {
}
@media (min-width: 768px)
[class^="col-"] + [class^="col-"] .ad-box {
    margin-top: 30px;
}
@media (min-width: 480px)
[class^="col-"] + [class^="col-"] .ad-box {
    margin-top: 30px;
}
[class^="col-"] + [class^="col-"] .ad-box {
    margin-top: 60px;
}
@media (min-width: 768px)
.text-center .ad-box {
    min-width: none;
    display: block;
}
@media (min-width: 768px)
.text-center .ad-box {
    min-width: auto;
    display: inline-block;
}
@media (min-width: 480px)
.text-center .ad-box {
    min-width: 360px;
    display: inline-block;
}
@media (min-width: 768px){
    .ad-box {
        margin: 30px 0px 50px 0px !important;
    }
}
.format_name {
    height: 32px;
}
.active_color {
    border: solid 1px #ddd !important;
}
.active_color.active {
    border: solid 2px red !important;
}
.media_image {
    float: left;
    width: 15%;
}
.media_image img {
    margin-right: 20px;
    width: 100px;
}
/*input-spinner*/
.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
/*end input-spinner*/
.main-nav > li > a {
    font-weight: 600;
}
/*.main-nav li a {
    font-size: 15px;
}*/
.tp-banner-container {
    width: 84.333%;
    margin-right: auto;
    margin-left: auto;
    height: 450px;
}
.widget-prod-categrories > ul.list-align {
    text-transform: capitalize;
}
.prod-price {
    font-size: 20px;
}
span.old-price {
    font-size: 14px;
    color: #000;
    text-decoration: line-through;
}
strong.note {
    color: red;
}