/*!
 * 
 * Custom CSS
 * 
 */
.main-nav > li > a, .footer-links li a {
    padding: 18px 15px !important;
}
.text-justify {
    text-align: justify
}
.sum_price {
    margin-top: 15px;
}
.text-red {
    color: #e32a53;
}
.error-content {
    padding: 40px 0;
}
.section {
    padding-bottom: 40px;
}
label.error {
	display: none !important;
}
#form_validate input.error, #form_validate textarea.error {
    border: 1px solid red;
}
.send-success-contact {
    padding: 0px 0px !important;
}
.new_blogs {
    border: solid 1px #999;
}
input.form-control.error, textarea.form-control.error {
        border: solid 1px red;
}
/*css pagination*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #141414;
    border-color: #141414;
}
.pagination > li > a, .pagination > li > span {
    padding: 7px 13px;
    margin: 0 2px;
    font-size: 11px;
    color: #6a6a6a;
    background-color: #ededed;
    border: 2px solid #ededed;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 7px 13px;
    margin: 0 2px;
    font-size: 11px;
    color: #6a6a6a;
    background-color: #ededed;
    border: 2px solid #ededed;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #ededed;
    border-color: #141414;
}
/*end css Pagination*/