<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty8">
        <div class="container">

            <h1>We offer professional affordable <br />web hosting &amp; related services</h1>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix margin_bottom7"></div>


    <div class="container alicent">

        <h3 class="light">There are many variations of passages <strong>Lorem Ipsum available</strong> but the majority have suffered alteration some form injected or randomised words which don't look even slightly believable you are going to use a passage of Lorem Ipsum need to be sure there on the Internet tend to repeat predefined chunks is therefore always.</h3>

    </div>
    <!-- end section -->


    <div class="clearfix margin_bottom3"></div>


    <div class="feature_section4 sty2">
        <div class="container">

            <div class="left">
                <strong>100000+ <em>Domain Names Registered</em></strong>
            </div>
            <!-- end left -->

            <div class="center">
                <strong>90000+ <em>WebSites Hosted</em></strong>
            </div>
            <!-- end left -->

            <div class="right">
                <strong>45000+ <em>Customers</em></strong>
            </div>
            <!-- end left -->

        </div>
    </div>
    <!-- end featured section 4 -->


    <div class="clearfix margin_bottom8"></div>


    <div class="feature_section13">
        <div class="container">

            <h2 class="caps"><strong>What we do</strong></h2>

            <div class="clearfix margin_bottom2"></div>

            <div class="one_half_less">

                <img src="/frontend/images/site-img33.jpg" alt="" />
                <br /><br />
                <h5>We Keeps Your Website Up and Running</h5>
                <p class="bigtfont">Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true Internet uses a dictionary of over words.</p>

            </div>

            <div class="one_half_less last">

                <img src="/frontend/images/site-img32.png" alt="" />
                <br /><br />
                <h5>Web Hosting Made Easy Now!</h5>
                <p class="bigtfont">Only five centuries also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like versions.</p>

            </div>

        </div>
    </div>
    <!-- end featured section -->


    <div class="clearfix margin_bottom9"></div>


    <div class="container alicent">

        <h2 class="caps"><strong>Why Choose Us?</strong></h2>

        <div class="clearfix margin_bottom2"></div>

        <iframe class="video_full_site" src="https://www.youtube.com/embed/qIak-mccfDs" frameborder="0" allowfullscreen></iframe>
        <!-- end video -->

        <div class="clearfix margin_bottom5"></div>

        <ul class="pop-wrapper">

            <li>
                <a href="#"> <img src="/frontend/images/icon-15.png" alt="" />
                    <h6>Reliability, Speed and Security</h6> <span>Lorem ipsum many web sites still in infancy versions have evolved over the years.</span></a>
            </li>

            <li>
                <a href="#"> <img src="/frontend/images/icon-8.png" alt="" />
                    <h6>Responsive Design</h6> <span>Lorem ipsum many web sites still in infancy versions have evolved over the years.</span></a>
            </li>

            <li>
                <a href="#"> <img src="/frontend/images/icon-9.png" alt="" />
                    <h6>Easy Knowledge Base</h6> <span>Lorem ipsum many web sites still in infancy versions have evolved over the years.</span></a>
            </li>

            <li>
                <a href="#"> <img src="/frontend/images/icon-26.png" alt="" />
                    <h6>Free Web Tools &amp; Applications</h6> <span>Lorem ipsum many web sites still in infancy versions have evolved over the years.</span></a>
            </li>

            <li>
                <a href="#"> <img src="/frontend/images/icon-18.png" alt="" />
                    <h6>24/7 Award Winning Support</h6> <span>Lorem ipsum many web sites still in infancy versions have evolved over the years.</span></a>
            </li>

            <li>
                <a href="#"> <img src="/frontend/images/icon-27.png" alt="" />
                    <h6>Free Updates Lifetime</h6> <span>Lorem ipsum many web sites still in infancy versions have evolved over the years.</span></a>
            </li>

        </ul>

    </div>
    <!-- end featured section -->


    <div class="clearfix margin_bottom7"></div>


    <div class="feature_section14">
        <div class="container">

            <h2 class="caps"><strong>Our Management Team</strong></h2>

            <div class="clearfix margin_bottom3"></div>

            <div class="one_half">
                <img src="/frontend/images/peop-img33.jpg" alt="" />
                <h5 class="sitecolor">Mark Anderson <em>Chief Executive Officer</em></h5>
                <p>Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</p>
            </div>
            <!-- end section -->

            <div class="one_half last">
                <img src="/frontend/images/peop-img34.jpg" alt="" />
                <h5 class="sitecolor">Ashtyn Hailey <em>Support Supervisor</em></h5>
                <p>Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</p>
            </div>
            <!-- end section -->

            <div class="clearfix margin_bottom3"></div>

            <div class="one_half">
                <img src="/frontend/images/peop-img35.jpg" alt="" />
                <h5 class="sitecolor">Felipe Keshawn <em>Support Representative</em></h5>
                <p>Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</p>
            </div>
            <!-- end section -->

            <div class="one_half last">
                <img src="/frontend/images/peop-img41.jpg" alt="" />
                <h5 class="sitecolor">Moody Jonathan <em>Office Manager</em></h5>
                <p>Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</p>
            </div>
            <!-- end section -->

            <div class="clearfix margin_bottom3"></div>

            <div class="one_half">
                <img src="/frontend/images/peop-img43.jpg" alt="" />
                <h5 class="sitecolor">Gargionay Smith <em>Software Engineer</em></h5>
                <p>Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</p>
            </div>
            <!-- end section -->

            <div class="one_half last">
                <img src="/frontend/images/peop-img36.jpg" alt="" />
                <h5 class="sitecolor">Eva Keely <em>Product Director</em></h5>
                <p>Lorem Ipsum which looks reasonable generated as default model as and search many web sites pass websites is therefore always.</p>
            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 14 -->


    <div class="clearfix"></div>


    <div class="feature_section6 sty2">
        <div class="container">

            <div class="less5">
                <div id="owl-demo20" class="owl-carousel">

                    <div class="item">
                        <p class="bigtfont">" Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here now use Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy various versions have desktop publishing software like Aldus PageMaker including versions evolved over the years. "</p>
                        <br />
                        <strong>- Michile Johnson</strong> &nbsp;<em>-website</em>
                        <p class="clearfix margin_bottom1"></p>
                    </div>
                    <!-- end slide -->

                    <div class="item">
                        <p class="bigtfont">" Established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose "</p>
                        <br />
                        <strong>- Desirae Karla</strong> &nbsp;<em>-website</em>
                        <p class="clearfix margin_bottom1"></p>
                    </div>
                    <!-- end slide -->

                    <div class="item">
                        <p class="bigtfont">" Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here now use Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy various versions desktop publishing software like Aldus PageMaker including versions have evolved over the years. "</p>
                        <br />
                        <strong>- Franklin Brice</strong> &nbsp;<em>-website</em>
                        <p class="clearfix margin_bottom1"></p>
                    </div>
                    <!-- end slide -->

                </div>
            </div>

        </div>
    </div>
    <!-- end featured section -->


    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>