<div class="text-center">
    <a href="javascript:void(0)" class="button btn-medium sky-blue1 uppercase">
        HOTLINE: <%= Company.get_company.hotline %> - <%= Company.get_company.hotline_2 %>
    </a>
</div>