<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>
    
    <div class="page-title-container style2">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Đặt Tour</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="#">Tour Du Lịch</a></li>
                <li><a href="#">Tour Trong Nước</a></li>
                <li><a href="#">Du Lịch Phú Quốc</a></li>
                <li><a href="#">TOUR NHA TRANG KHÁM VỊNH NHA TRANG, TIỆC BUFFET 3N3Đ</a></li>
                <li class="active">Đặt Tour</li>
            </ul>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">
                        
                        <form class="booking-form" method="post" action="booking-handler.php">
                            <div class="person-information">
                                <h2>Your Personal Information</h2>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>first name</label>
                                        <input type="text" name="first_name" class="input-text full-width" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>last name</label>
                                        <input type="text" name="last_name" class="input-text full-width" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>email address</label>
                                        <input type="text" name="email_address" class="input-text full-width" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Verify E-mail Address</label>
                                        <input type="text" name="r_email_address" class="input-text full-width" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Country code</label>
                                        <div class="selector">
                                            <select name="country_code" class="full-width">
                                                <option>United Kingdom (+44)</option>
                                                <option>United States (+1)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Phone number</label>
                                        <input type="text" name="phone_number" class="input-text full-width" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="is_receive_promotion" value="1"> I want to receive <span class="skin-color">Travelo</span> promotional offers in the future
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="card-information">
                                <h2>Your Card Information</h2>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Credit Card Type</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option>select a card</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Card holder name</label>
                                        <input type="text" class="input-text full-width" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Card number</label>
                                        <input type="text" class="input-text full-width" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Card identification number</label>
                                        <input type="text" class="input-text full-width" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Expiration Date</label>
                                        <div class="constant-column-2">
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>month</option>
                                                </select>
                                            </div>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option>year</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-2">
                                        <label>billing zip code</label>
                                        <input type="text" class="input-text full-width" value="" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> By continuing, you agree to the <a href="#"><span class="skin-color">Terms and Conditions</span></a>.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <button type="submit" class="full-width btn-large">CONFIRM BOOKING</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                    <div class="booking-details travelo-box">
                        <h4>Booking Details</h4>
                        <article class="tour-detail">
                            <figure class="clearfix">
                                <a title="" href="tour-detailed1.html" class="middle-block"><img class="middle-item" alt="" src="/frontend/images/tour/thumbnail/1.jpg"></a>
                                <div class="travel-title">
                                    <h5 class="box-title">Rome City Tour<small>3 Days Tour</small></h5>
                                    <a href="tour-detailed1.html" class="button green">EDIT</a>
                                </div>
                            </figure>
                            <div class="details">
                                <div class="icon-box style11 full-width">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-calendar"></i>
                                    </div>
                                    <dl class="details">
                                        <dt class="skin-color">Date</dt>
                                        <dd>27 jan 2015 to 30 jan 2015</dd>
                                    </dl>
                                </div>
                                <div class="icon-box style11 full-width">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-clock"></i>
                                    </div>
                                    <dl class="details">
                                        <dt class="skin-color">Duration</dt>
                                        <dd>1 day 3 hours</dd>
                                    </dl>
                                </div>
                                <div class="icon-box style11 full-width">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-departure"></i>
                                    </div>
                                    <dl class="details">
                                        <dt class="skin-color">Location</dt>
                                        <dd>Rome</dd>
                                    </dl>
                                </div>
                            </div>
                        </article>
                        
                        <h4>Other Details</h4>
                        <dl class="other-details">
                            <dt class="feature">Tour:</dt><dd class="value">3 days</dd>
                            <dt class="feature">Extra benefits:</dt><dd class="value">No</dd>
                            <dt class="feature">taxes and fees:</dt><dd class="value">Free</dd>
                            <dt class="total-price">Total Price</dt><dd class="total-price-value">$534.00</dd>
                        </dl>
                    </div>
                    
                    <div class="travelo-box contact-box">
                        <h4>Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                            <br>
                            <a class="contact-email" href="#">help@travelo.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>