.text-justify {
    text-align: justify;
}
.md-padding, .section {
    padding-top: 20px;
}
.mega-content > div > ul > li > span {
    font-weight: bold;
    text-transform: uppercase;
}
.tools {
    display: none;
}
.top-nav ul li ul {
    min-width: 250px;
}
label.error {
    display: none !important;
}