<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>

    <div class="page-title-container style2">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Chi Tiết Cẩm Nang Du Lịch</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="#">Cẩm Nang Du Lịch</a></li>
                <li><a href="#">Khám Phá</a></li>
                <li><a href="#">An Giang</a></li>
                <li class="active">Chi Tiết Cẩm Nang Du Lịch</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-8 col-md-9">
                    <div class="post">
                        <figure class="image-container">
                            <a href="#"><img src="/frontend/images/blog/post/image/1.png" alt="" /></a>
                        </figure>
                        <div class="details">
                            <h1 class="entry-title">Chi Tiết Cẩm Nang Du Lịch</h1>
                            <div class="post-content">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nis type specimen book. It has survived not only five centuries.Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend  tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                                <div class="border-box">
                                    <blockquote class="style2"><p>Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit Massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet egeat. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit sodales volutpat sapien varius vel. </p></blockquote>
                                </div>
                                <p>Suspendisse blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit. Suspendisse blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                                <p>Massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet lectus venenatis est rhoncus interdum a vitae velit.</p>
                            </div>
                            <div class="post-meta">
                                <div class="entry-date">
                                    <label class="date">29</label>
                                    <label class="month">Aug</label>
                                </div>
                                <div class="entry-author fn">
                                    <i class="icon soap-icon-user"></i> Posted By:
                                    <a href="#" class="author">Jessica Browen</a>
                                </div>
                                <div class="entry-action">
                                    <a href="#" class="button entry-comment btn-small"><i class="soap-icon-comment"></i><span>30 Comments</span></a>
                                    <a href="#" class="button btn-small"><i class="soap-icon-wishlist"></i><span>22 Likes</span></a>
                                    <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-navigation block">
                            <div class="row">
                                <div class="col-xs-6"><a rel="prev" href="" class="button btn-large prev full-width"><i class="soap-icon-longarrow-left"></i><span>Previous Post</span></a></div>
                                <div class="col-xs-6"><a rel="next" href="" class="button btn-large next full-width"><span>Next Post</span><i class="soap-icon-longarrow-right"></i></a></div>
                            </div>
                        </div>
                        <div class="about-author block">
                            <h2>About Author</h2>
                            <div class="about-author-container">
                                <div class="about-author-content">
                                    <div class="avatar">
                                        <img src="/frontend/images/shortcodes/author1.png" width="96" height="96" alt="">
                                    </div>
                                    <div class="description">
                                        <h4><a href="#">Jessica Brown</a></h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                </div>
                                <div class="about-author-meta clearfix">
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="soap-icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="soap-icon-googleplus"></i></a></li>
                                        <li><a href="#"><i class="soap-icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="soap-icon-linkedin"></i></a></li>
                                    </ul>
                                    <a href="#" class="wrote-posts-count"><i class="soap-icon-slider"></i><span><b>30</b> Posts</span></a>
                                </div>
                            </div>
                        </div>
                        <h2>You Might Also Like This</h2>
                        <div class="travelo-box">
                            <div class="suggestions image-carousel style2" data-animation="slide" data-item-width="150" data-item-margin="22">
                                <ul class="slides">
                                    <li>
                                        <a href="#" class="hover-effect">
                                            <img src="/frontend/images/dashboard/suggestion1.png" alt="" class="middle-item" />
                                        </a>
                                        <h5 class="caption">Adventure</h5>
                                    </li>
                                    <li>
                                        <a href="#" class="hover-effect">
                                            <img src="/frontend/images/dashboard/suggestion2.png" alt="" class="middle-item" />
                                        </a>
                                        <h5 class="caption">Beaches &amp; Sun</h5>
                                    </li>
                                    <li>
                                        <a href="#" class="hover-effect">
                                            <img src="/frontend/images/dashboard/suggestion3.png" alt="" class="middle-item" />
                                        </a>
                                        <h5 class="caption">Casinos</h5>
                                    </li>
                                    <li>
                                        <a href="#" class="hover-effect">
                                            <img src="/frontend/images/dashboard/suggestion4.png" alt="" class="middle-item" />
                                        </a>
                                        <h5 class="caption">Family Fun</h5>
                                    </li>
                                    <li>
                                        <a href="#" class="hover-effect">
                                            <img src="/frontend/images/dashboard/suggestion5.png" alt="" class="middle-item" />
                                        </a>
                                        <h5 class="caption">History</h5>
                                    </li>
                                    <li>
                                        <a href="#" class="hover-effect">
                                            <img src="/frontend/images/dashboard/suggestion1.png" alt="" class="middle-item" />
                                        </a>
                                        <h5 class="caption">Adventure</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col-sm-4 col-md-3">
                    <div class="travelo-box">
                        <h5 class="box-title">Search Stories</h5>
                        <div class="with-icon full-width">
                            <input type="text" class="input-text full-width" placeholder="story name or category">
                            <button class="icon green-bg white-color"><i class="soap-icon-search"></i></button>
                        </div>
                    </div>
                    <div class="travelo-box">
                        <h5 class="box-title">About Travelo</h5>
                        <p>Phasellus vehicula justo eget  sollicitudin eu tincidu ncurabitur ele sollicitu tincidu nulla curabitur magna ined and posuere lorem sollicitudin eu tin.</p>
                    </div>
                    <div class="tab-container box">
                        <ul class="tabs full-width">
                            <li><a data-toggle="tab" href="#recent-posts">Recent</a></li>
                            <li class="active"><a data-toggle="tab" href="#popular-posts">Popular</a></li>
                            <li><a data-toggle="tab" href="#new-posts">New</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="recent-posts" class="tab-pane fade">
                                
                            </div>
                            <div id="popular-posts" class="tab-pane fade in active">
                                <div class="image-box style14">
                                    <article class="box">
                                        <figure><a href="#" title=""><img width="63" height="59" src="/frontend/images/dashboard/booking1.png" alt=""></a></figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="#">Half-Day Island Tour</a></h5>
                                            <label class="price-wrapper"><span class="price-per-unit">$35</span>Family Package</label>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure><a href="#" title=""><img width="63" height="59" src="/frontend/images/dashboard/booking2.png" alt=""></a></figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                                            <label class="price-wrapper"><span class="price-per-unit">$26</span>Per Person</label>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure><a href="#" title=""><img width="63" height="59" src="/frontend/images/dashboard/booking3.png" alt=""></a></figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                                            <label class="price-wrapper"><span class="price-per-unit">$11</span>holiday offer</label>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div id="new-posts" class="tab-pane fade">
                                
                            </div>
                        </div>
                    </div>
                    <div class="travelo-box filters-container">
                        <h4 class="box-title">All Categories</h4>
                        <ul class="check-square categories-filter filters-option">
                            <li><a href="#">All<small>(722)</small></a></li>
                            <li><a href="#">Family<small>(982)</small></a></li>
                            <li><a href="#">Romance<small>(127)</small></a></li>
                            <li class="active"><a href="#">Adventure<small>(222)</small></a></li>
                            <li class="active"><a href="#">Beach<small>(158)</small></a></li>
                            <li><a href="#">Wildlife<small>(439)</small></a></li>
                            <li><a href="#">Island &amp; parks<small>(52)</small></a></li>
                        </ul>
                        <a class="button btn-mini">MORE</a>
                    </div>
                    <div class="travelo-box twitter-box">
                        <h4 class="box-title">Twitter Feeds</h4>
                        <div class="twitter-holder">
                            <ul>
                                <li class="tweet">
                                    <p class="tweet-text">
                                        <a href="#">@Travelo</a>, Proin feugiat mattis a sed adipiscing velit sodales.
                                    </p>
                                    <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
                                </li>
                                <li class="tweet">
                                    <p class="tweet-text">
                                        Proin feugiat mattis antesmoke sed adipiscing velit sodales.
                                        <a href="#">http://travelo.com</a>
                                    </p>
                                    <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
                                </li>
                                <li class="tweet">
                                    <p class="tweet-text">
                                        <a href="#">@Travelo</a>, Proin feugiat mattis a sed adipiscing velit sodales.
                                    </p>
                                    <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                            <br />
                            <a href="#" class="contact-email">help@travelo.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>

</div>

<!-- Javascript -->
<%= render "/home/js_files" %>