<div class="content_fullwidth fullwidth_fix_last">
        
    <div class="container">

        <div class="stcode_title4">
            <h3><span class="line"></span><span class="text"><strong><%= t(:available_options_features_comparison) %></strong><span></span></span></h3>
        </div>
        
        <div class="margin_top1"></div>
        <div class="clearfix"></div>

        <div class="pritable ltp pritable_fix">
            <div class="container">

                <div class="pacdetails related">

                    <div class="title">
                        <h2>Basic</h2>
                    </div>

                    <ul>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> One Design Concept</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 2 Revisions</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 1 – 5 Page Web Design</li>
                        <li><strong><i class="fa fa-times gray"></i></strong> Home Page slideshow</li>
                        <li><strong><i class="fa fa-times gray"></i></strong> Gallery / Portfolio Page</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></i></strong> Pages Data Entry</li>
                        <li><strong><i class="fa fa-times gray"></i></strong> Contact Form</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Google Location Maps</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> CMS</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Mobile Friendly Website</li>
                        <li><strong><i class="fa fa-times gray"></i></strong> Newsletter Signup Area</li>
                    </ul>

                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>

                </div>
                <!-- end section -->

                <div class="pacdetails related three">

                    <div class="title">
                        <h2>Professional</h2>
                    </div>

                    <ul>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Two Design Concept</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 4 Revisions</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 6 – 10 Page Web Design</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Home Page slideshow</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Gallery / Portfolio Page</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Pages Data Entry</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Contact Form</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Google Location Maps</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> CMS</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Mobile Friendly Website</li>
                        <li><strong><i class="fa fa-times gray"></i></strong> Newsletter Signup Area</li>
                    </ul>

                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>

                </div>
                <!-- end section -->

                <div class="pacdetails related four">

                    <div class="title">
                        <h2>Advanced</h2>
                    </div>

                    <ul>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Three Design Concept</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 4 Revisions</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 8 – 12 Page Web Design</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Home Page slideshow</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Gallery / Portfolio Page</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Pages Data Entry</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Contact Form</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Google Location Maps</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> CMS</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Mobile Friendly Website</li>
                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Newsletter Signup Area</li>
                    </ul>

                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>

                </div>
                <!-- end section -->

            </div>
        </div>
        <!-- end section -->

    </div>
</div>