<div class="content_fullwidth fullwidth_fix">
    
    <div class="container">

        <div class="stcode_title4">
            <h3><span class="line"></span><span class="text"><strong><%= t(:related_projects) %></strong><span></span></span></h3>
        </div>

        <div class="margin_top1"></div>
        <div class="clearfix"></div>

        <div id="owl-demo" class="owl-carousel">

            <div class="item"><a href="#"><img src="/frontend/images/media/works-img1.jpg" alt="" /></a></div>
            
            <div class="item"><a href="#"><img src="/frontend/images/media/works-img1.jpg" alt="" /></a></div>
            
            <div class="item"><a href="#"><img src="/frontend/images/media/works-img1.jpg" alt="" /></a></div>
            
            <div class="item"><a href="#"><img src="/frontend/images/media/works-img1.jpg" alt="" /></a></div>
            
            <div class="item"><a href="#"><img src="/frontend/images/media/works-img1.jpg" alt="" /></a></div>
            
            <div class="item"><a href="#"><img src="/frontend/images/media/works-img1.jpg" alt="" /></a></div>
            
            <div class="item"><a href="#"><img src="/frontend/images/media/works-img1.jpg" alt="" /></a></div>

        </div>
        <!-- end section -->

    </div>
</div>