
    
    <div class="content_fullwidth fullwidth_fix">
        
        <div class="container">
    
            <div class="stcode_title4">
                <h3><span class="line"></span><span class="text"><strong><%= t(:related_projects) %></strong><span></span></span></h3>
            </div>
    
            <div class="margin_top1"></div>
            <div class="clearfix"></div>
    
            <div id="owl-demo" class="owl-carousel">
                
                <% Article.find(5).projects.each do |item| %>
    
                    <div class="item">
                        
                        <a href="<%= url_for (work_detail_path(project_id: item)) %>"><img src="<%= item.image_url.fill_small %>" alt="<%= item.name %>" /></a>
                    
                        </div>
                    
                <% end %>
    
            </div>
            <!-- end section -->
    
        </div>
        
    </div>
