<div class="client_logos two">
    <div class="container">

        <h3 class="caps gray">Customer Showcase</h3>

        <div class="clearfix margin_bottom2"></div>

        <ul>
            <li><img src="/frontend/images/client-logos1.gif" alt="" /></li>
            <li><img src="/frontend/images/client-logos2.gif" alt="" /></li>
            <li><img src="/frontend/images/client-logos3.gif" alt="" /></li>
            <li><img src="/frontend/images/client-logos5.gif" alt="" /></li>
            <li><img src="/frontend/images/client-logos6.gif" alt="" /></li>
            <li><img src="/frontend/images/client-logos7.gif" alt="" /></li>
            <li><img src="/frontend/images/client-logos8.gif" alt="" /></li>
            <li><img src="/frontend/images/client-logos9.gif" alt="" /></li>
            <li><img src="/frontend/images/client-logos4.gif" alt="" /></li>
        </ul>

    </div>
</div>