<div class="tab-pane fade" id="booking_room">
    <%= form_tag(hotel_search_path, method: "get") do %>
        <div class="row">
            <div class="form-group col-sm-6 col-md-5">
                <h4 class="title">Loại khách sạn</h4>
                <label>Chọn loại khách sạn</label>
                <div class="selector">
                    <select class="full-width" name="hotel_type">
                        <option value="">Chọn loại khách sạn cần tìm</option>
                        <option value="Khách sạn 1 sao">Khách sạn 1 sao</option>
                        <option value="Khách sạn 2 sao">Khách sạn 2 sao</option>
                        <option value="Khách sạn 3 sao">Khách sạn 3 sao</option>
                        <option value="Khách sạn 4 sao">Khách sạn 4 sao</option>
                        <option value="Khách sạn 5 sao">Khách sạn 5 sao</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-5">
                <h4 class="title">Tên khách sạn/Resort</h4>
                <label>Nhập tên khách sạn/Resort</label>
                <input type="text" name="name" class="input-text full-width" placeholder="Nhập tên khách sạn/resort cần tìm" />
            </div>
            <div class="form-group col-sm-6 col-md-2 fixheight">
                <label class="hidden-xs">&nbsp;</label>
                <button type="submit" class="full-width icon-check animated" data-animation-type="bounce" data-animation-duration="1">TÌM KHÁCH SẠN</button>
            </div>
        </div>
    <% end %>
</div>