<div class="newsletter-holder">
    <div class="offer-tip">
        <div class="offer-tip-inner">
            <span>Up To</span>
            <h1>60%</h1>
            <span>off</span>
        </div>
    </div>
    <!-- /offer-tip -->
    <div class="newsletter-head text-right">
        <h4>Premium Fragrances</h4>
        <h3>Discount Prices</h3>
    </div>
    <!-- /newsletter-head -->
    <div class="newsletter-content">
        <h4 class="text-uppercase">All you need you can find it here</h4>
        <div class="row">
            <div class="col-sm-7">
                <div class="image">
                    <img src="frontend/images/resource/img-40.jpg" alt="image">
                </div>
            </div>
            <div class="col-sm-5">
                <ul class="list-nl">
                    <li><i class="flaticon-shipping"></i>Deliveries in 3-4 days</li>
                    <li><i class="flaticon-32"></i>Free beautician advice</li>
                    <li><i class="flaticon-parfum1"></i>9000+ Products</li>
                    <li><i class="flaticon-wallet33"></i>170+ Brands</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="newsletter-bottom">
        <p>Leave us your email address and we promise to send you our best offers:</p>
        <form action="index.html" method="post">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email address">
            </div>
            <input type="submit" class="btn btn-primary" value="Subscribe">
        </form>
    </div>
</div>