<div class="top_nav">
    <div class="container">

        <div class="left">
                
            <a href="<%= url_for( :locale => 'en' ) %>"><img src="/backend/assets/images/flags/gb.png" alt=""></a>  
            <a href="<%= url_for( :locale => 'vi' ) %>"><img src="/backend/assets/images/flags/vn.png" alt=""></a>

        </div>
        <!-- end left -->

        <div class="right">

            <ul class="tplinks">
                <li><strong><i class="fa fa-phone"></i> (08) 2212 9454</strong></li>
                <li>
                    <a href="mailto:soft.support@hoangkhang.com.vn"><img src="/frontend/images/site-icon1.png" alt="" /> E-Mail</a>
                </li>
                <li>
                    <%= link_to image_tag("/frontend/images/site-icon3.png") + "Support", support_path %>
                </li>
                <li>
                    <%= link_to image_tag("/frontend/images/site-icon2.png") + "Contact", contact_path %>
                </li>
            </ul>

        </div>
        <!-- end right -->

    </div>
</div>