<div class="top-bar gry-bg">
    <div class="container">

        <ul class="top-info f-left">
            <li><i class="fa fa-envelope main-color"></i><b class="main-color">Email:</b> <a href="mailto:soft.support@hoangkhang.com.vn">soft.support@hoangkhang.com.vn</a></li>
            <li><i class="fa fa-phone main-color"></i><b class="main-color">Phone:</b> <a href="tel:+84979744764">(+84) 97 974 4764</a></li>
            <li class="dropdown language-selector">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true"><i class="fa fa-flag main-color"></i>English</a>
                <ul class="dropdown-menu">
                    <li class="active">
                        <a href="#">English</a>
                    </li>
                    <li>
                        <a href="#">Tiếng Việt</a>
                    </li>
                    <li>
                        <a href="#">日本語</a>
                    </li>
                    <li>
                        <a href="#">ภาษาไทย</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="f-right social-list">
            <span class="lbl-txt">Follow Us On:</span>
            <a href="https://www.facebook.com/Global-Naturesoft-623551254472451/" data-toggle="tooltip" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook ic-facebook no-border"></i></a>
            <a href="https://twitter.com/GNaturesoft" data-toggle="tooltip" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter ic-twitter no-border"></i></a>
            <a href="https://www.linkedin.com/in/global-naturesoft-4493aa122" data-toggle="tooltip" data-placement="bottom" data-original-title="Linkedin"><i class="fa fa-linkedin ic-linkedin no-border"></i></a>
            <a href="https://www.youtube.com/channel/UCd0uK1eQ_PtRJ1AppsUiqhw" data-toggle="tooltip" data-placement="bottom" data-original-title="YouTube"><i class="fa fa-youtube-play ic-youtube no-border"></i></a>
            <a href="https://plus.google.com/u/2/113600395564379102837" data-toggle="tooltip" data-placement="bottom" data-original-title="Google Plus"><i class="fa fa-google-plus ic-gplus no-border"></i></a>
        </div>

    </div>
</div>