<div class="top-bar gry-bg">
    <div class="container">

        <ul class="top-info f-left">
            <li><i class="fa fa-envelope main-color"></i><b class="main-color">Email:</b> <a href="mailto:soft.support@hoangkhang.com.vn">soft.support@hoangkhang.com.vn</a></li>
            <li><i class="fa fa-phone main-color"></i><b class="main-color">Phone:</b> <a href="tel:+84979744764">(+84) 97 974 4764</a></li>
            <li class="dropdown language-selector">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true"><i class="fa fa-flag main-color"></i>EN</a>
                <ul class="dropdown-menu">
                    <li class="active">
                        <a href="#">EN</a>
                    </li>
                    <li>
                        <a href="#">VI</a>
                    </li>
                    <li>
                        <a href="#">JA</a>
                    </li>
                    <li>
                        <a href="#">TH</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="f-right social-list">
            <span class="lbl-txt">Follow Us On:</span>
            <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook ic-facebook no-border"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter ic-twitter no-border"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Linkedin"><i class="fa fa-linkedin ic-linkedin no-border"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Dribbble"><i class="fa fa-dribbble ic-dribbble no-border"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Google Plus"><i class="fa fa-google-plus ic-gplus no-border"></i></a>
        </div>

    </div>
</div>