<div class="tp-bar">
    <div class="container">
        <ul class="tp-links">
            <li>
                <span class="dropBox-btn">Tiếng Việt <i class="caret caret-cut"></i></span>
                <div class="dropBox dropBox-condensed">
                    <div class="box-section">
                        <ul class="langList">
                            <li><%= link_to "Tiếng Việt", "#" %></li>
                        </ul>
                    </div>
                    <!-- /box-section -->
                </div>
                <!-- /dropBox -->
            </li>
        </ul>
        <!-- /tp-links -->
    </div>
</div>