<div class="tab-container box">
    <ul class="tabs full-width">
        <li><a data-toggle="tab" href="#recent-posts">Recent</a></li>
        <li class="active"><a data-toggle="tab" href="#popular-posts">Popular</a></li>
        <li><a data-toggle="tab" href="#new-posts">New</a></li>
    </ul>
    <div class="tab-content">
        <div id="recent-posts" class="tab-pane fade">
            
        </div>
        <div id="popular-posts" class="tab-pane fade in active">
            <div class="image-box style14">
                <article class="box">
                    <figure><a href="#" title=""><img width="63" height="59" src="/frontend/images/dashboard/booking1.png" alt=""></a></figure>
                    <div class="details">
                        <h5 class="box-title"><a href="#">Half-Day Island Tour</a></h5>
                        <label class="price-wrapper"><span class="price-per-unit">$35</span>Family Package</label>
                    </div>
                </article>
                <article class="box">
                    <figure><a href="#" title=""><img width="63" height="59" src="/frontend/images/dashboard/booking2.png" alt=""></a></figure>
                    <div class="details">
                        <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                        <label class="price-wrapper"><span class="price-per-unit">$26</span>Per Person</label>
                    </div>
                </article>
                <article class="box">
                    <figure><a href="#" title=""><img width="63" height="59" src="/frontend/images/dashboard/booking3.png" alt=""></a></figure>
                    <div class="details">
                        <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                        <label class="price-wrapper"><span class="price-per-unit">$11</span>holiday offer</label>
                    </div>
                </article>
            </div>
        </div>
        <div id="new-posts" class="tab-pane fade">
            
        </div>
    </div>
</div>
<div class="travelo-box filters-container">
    <h4 class="box-title">All Categories</h4>
    <ul class="check-square categories-filter filters-option">
        <li><a href="#">All<small>(722)</small></a></li>
        <li><a href="#">Family<small>(982)</small></a></li>
        <li><a href="#">Romance<small>(127)</small></a></li>
        <li class="active"><a href="#">Adventure<small>(222)</small></a></li>
        <li class="active"><a href="#">Beach<small>(158)</small></a></li>
        <li><a href="#">Wildlife<small>(439)</small></a></li>
        <li><a href="#">Island &amp; parks<small>(52)</small></a></li>
    </ul>
    <a class="button btn-mini">MORE</a>
</div>
<div class="travelo-box twitter-box">
    <h4 class="box-title">Twitter Feeds</h4>
    <div class="twitter-holder">
        <ul>
            <li class="tweet">
                <p class="tweet-text">
                    <a href="#">@Travelo</a>, Proin feugiat mattis a sed adipiscing velit sodales.
                </p>
                <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
            </li>
            <li class="tweet">
                <p class="tweet-text">
                    Proin feugiat mattis antesmoke sed adipiscing velit sodales.
                    <a href="#">http://travelo.com</a>
                </p>
                <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
            </li>
            <li class="tweet">
                <p class="tweet-text">
                    <a href="#">@Travelo</a>, Proin feugiat mattis a sed adipiscing velit sodales.
                </p>
                <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
            </li>
        </ul>
    </div>
</div>
<div class="travelo-box contact-box">
    <h4 class="box-title">Need Travelo Help?</h4>
    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
    <address class="contact-details">
        <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
        <br />
        <a href="#" class="contact-email">help@travelo.com</a>
    </address>
</div>