<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>

    <div class="page-title-container style2">
        <div class="container">
            <div class="page-title">
                <h2 class="entry-title">Tổ Chức Sự Kiện</h2>
            </div>
            <ul class="breadcrumbs">
                <li><a href="#">Trang Chủ</a></li>
                <li class="active">Tổ Chức Sự Kiện</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div id="main">
                <div class="page">
                    <span style="display: none;" class="entry-title page-title">Blog Full Width</span>
                    <span style="display: none;" class="vcard"><span class="fn"><a rel="author" title="Posts by admin" href="#">admin</a></span></span>
                    <span style="display:none;" class="updated">2014-06-20T13:35:34+00:00</span>
                    <div class="post-content">
                        <div class="blog-infinite">
                            <% (1..5).each do |item| %>
                                <div class="post">
                                    <div class="post-content-wrapper">
                                        <figure class="image-container">
                                            <a href="pages-blog-read.html" class="hover-effect"><img src="/frontend/images/blog/full_width_post/image/1.png" alt="" /></a>
                                        </figure>
                                        <div class="details">
                                            <h2 class="entry-title"><a href="pages-blog-read.html">Standard single image post</a></h2>
                                            <div class="excerpt-container">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nis type specimen book. It has survived not only five centuries.</p>
                                            </div>
                                            <div class="post-meta">
                                                <div class="entry-date">
                                                    <label class="date">29</label>
                                                    <label class="month">Aug</label>
                                                </div>
                                                <div class="entry-author fn">
                                                    <i class="icon soap-icon-user"></i> Posted By:
                                                    <a href="#" class="author">Jessica Browen</a>
                                                </div>
                                                <div class="entry-action">
                                                    <a href="#" class="button entry-comment btn-small"><i class="soap-icon-comment"></i><span>30 Comments</span></a>
                                                    <a href="#" class="button btn-small"><i class="soap-icon-wishlist"></i><span>22 Likes</span></a>
                                                    <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <a href="#" class="button btn-large full-width">LOAD MORE POSTS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>