<div id="page-wrapper" class="wrapper-blank">
    <div class="wrapper">
        <section id="content">
            <div class="container">
                <div id="main">
                    <h1 class="logo">
                        <%= link_to image_tag("/frontend/images/logo_404_page.png", alt: "Khám Phá Mới Travel"), root_path %>
                    </h1>
                    <div class="error-message">Liên kết không tồn tại.</div>
                    <div class="error-message-404"><strong>Lỗi 404:</strong> Trang không được tìm thấy!</div>
                    <%= link_to '<i class="soap-icon-longarrow-left"></i> Về trang chủ'.html_safe, root_path, title: "Quay về trang chủ", class: "button go-back" %>
                </div>
            </div>
        </section>
    </div>
</div>