<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty12">
        <div class="container alicent">

            <h1>Login Form</h1>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix"></div>


    <div class="content_fullwidth less2">
        <div class="container">

            <div class="logregform">


                <div class="title">

                    <h3>Account Login</h3>

                    <p>Not member yet? &nbsp;<a href="register.html">Sign Up.</a></p>

                </div>

                <div class="feildcont">

                    <form role="form">

                        <label><i class="fa fa-user"></i> Username / Email</label>
                        <input type="text">

                        <label><i class="fa fa-lock"></i> Password</label>
                        <input type="password">
        
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                            <label>Remember Me</label>
                            <label><a href="#"><strong>Forgot Password?</strong></a></label>
                        </div>

                        <button type="button" class="fbut">Login Now!</button>

                    </form>

                </div>


            </div>

        </div>
    </div>


    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<!-- get jQuery used for the theme - only login page -->
<script src="/frontend/js/timeline/modernizr.js"></script>
<script>
    (function($) {
        "use strict";

        jQuery(document).ready(function($) {
            var $timeline_block = $('.cd-timeline-block');

            //hide timeline blocks which are outside the viewport
            $timeline_block.each(function() {
                if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                }
            });

            //on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function() {
                $timeline_block.each(function() {
                    if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                    }
                });
            });
        });

    })(jQuery);
</script>