<article class="detailed-logo">
    <div class="details">
        <h2 class="box-title">Dịch Vụ Làm Thẻ Visa</h2>
        <%= link_to "ĐĂNG KÝ", visa_card_booking_path, class: "button yellow full-width uppercase btn-small" %>
    </div>
</article>