<article class="detailed-logo">
    <div class="details">
        <h2 class="box-title">Dịch Vụ Làm Thẻ Visa</h2>
        <%= link_to "ĐĂNG KÝ", visa_card_path, class: "button sky-blue1 full-width uppercase btn-small" %>
    </div>
</article>