<article class="detailed-logo">
    <div class="details">
        <h2 class="box-title">Dịch Vụ Đặt Vé Máy Bay</h2>
        <%= link_to "ĐĂNG KÝ", plane_ticket_booking_path, class: "button sky-blue1 full-width uppercase btn-small" %>
    </div>
</article>