<div class="widget widget-tabular">
    <ul class="widget-tab-head">
        <li class="active"><a data-toggle="tab" href="#widget-popular" aria-expanded="true">Tin tức mới nhất</a></li>
    </ul>
    <div class="widget-tabular-content tab-content">

        <div id="widget-popular" class="tab-pane fade in active">
            <!--< (1..6).each do |item| %>-->
            <% @lastest_blogs.each do |blog| %>
            <div class="media">
                <div class="media-left">
                    <%= link_to image_tag("/frontend/images/resource/img-31.jpg", alt: "Tiêu đề bài viết"), blog_detail_path, class: "media-object" %>
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><%= link_to truncate(strip_tags(blog.title_vi.html_safe), length: 30), { controller: "blog", action: "detail", blog_id: blog.id } %></h5>
                    <p>﻿<%= truncate(strip_tags(blog.content_vi.html_safe), length: 35) %></p>
                </div>
            </div>
            <!-- /media -->
            <% end %>
        </div>
        <!-- /tab-pane -->

    </div>
</div>
<!-- /widget-search-site -->

<!--<div class="widget widget_categories">-->
<!--    <header class="widget-heading-4">-->
<!--        <h4>Chuyên mục bài viết</h4>-->
<!--    </header>-->
<!--    <ul>-->
<!--        <li><a href="#">Tất cả</a> (0)</li>-->
<!--        <li><a href="#">Chăm sóc da</a> (0)</li>-->
<!--        <li><a href="#">Trang điểm</a> (0)</li>-->
<!--        <li><a href="#">Mỹ phẩm Mỹ-Pháp-Nhật</a> (0)</li>-->
<!--        <li><a href="#">Thời trang</a> (0)</li>-->
<!--        <li><a href="#">Hàng sale</a> (0)</li>-->
<!--    </ul>-->
<!--</div>-->
<!-- /widget_categories -->