<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty12">
        <div class="container alicent">

            <h1>Registration Form</h1>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix"></div>


    <div class="content_fullwidth less2">
        <div class="container">

            <div class="logregform two">


                <div class="title">

                    <h3>REGISTRATION</h3>

                    <p>Already Registered? &nbsp;<a href="login.html">Log In.</a></p>

                </div>

                <div class="feildcont">

                    <form role="form">

                        <label>Username <em>*</em></label>
                        <input type="text">

                        <label>Email <em>*</em></label>
                        <input type="text">

                        <div class="one_half">
                            <label>Password <em>*</em></label>
                            <input type="password">
                        </div>

                        <div class="one_half last">
                            <label>Confirm Password <em>*</em></label>
                            <input type="password">
                        </div>

                        <label>Name</label>
                        <input type="text">

                        <div class="one_third radiobut">
                            <label>Gender</label>
                            <input class="one" type="radio" name="sex" value="male" checked>
                            <span class="onelb">Male</span>
                            <input class="two" type="radio" name="sex" value="female">
                            <span class="onelb">Female</span>
                        </div>

                        <div class="two_third last">
                            <label>Date of Birth</label>

                            <div class="one_third">
                                <select>
                        <option value="0">Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                            </div>

                            <div class="one_third">
                                <select>
                        <option value="0">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                            </div>

                            <div class="one_third last">
                                <select>
                        <option value="0">Year</option>
                        <option value="2000">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                    </select>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="margin_bottom2"></div>

                        <div class="one_half">
                            <label>City</label>
                            <input type="text">
                        </div>

                        <div class="one_half last">
                            <label>Country</label>

                            <select>
                        <option value="0">- Select -</option>
                        <option value="usa">USA</option>
                        <option value="india">India</option>
                        <option value="china">China</option>
                        <option value="uk">UK</option>
                        <option value="australia">Australia</option>
                        <option value="germany">Germany</option>
                        <option value="canada">Canada</option>

                    </select>
                        </div>

                        <label>Address</label>
                        <input type="text">

                        <div class="checkbox">
                            <label>
                    <input type="checkbox">
                </label>
                            <label>I agree the User Agreement and<a href="#">Terms &amp; Condition.</a></label>
                        </div>

                        <button type="button" class="fbut">Create Account</button>


                    </form>

                </div>

            </div>

        </div>
    </div>


    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<script src="/frontend/js/timeline/modernizr.js"></script>
<script>
    (function($) {
        "use strict";

        jQuery(document).ready(function($) {
            var $timeline_block = $('.cd-timeline-block');

            //hide timeline blocks which are outside the viewport
            $timeline_block.each(function() {
                if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                }
            });

            //on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function() {
                $timeline_block.each(function() {
                    if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                    }
                });
            });
        });

    })(jQuery);
</script>