<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->

<head>
	
    <title>Hoang Khang Incotech - Software Development</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/frontend/images/favicon.png">

    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- ######### CSS STYLES ######### -->

    <link rel="stylesheet" href="/frontend/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/frontend/css/style.css" type="text/css" />

    <!-- font awesome icons -->
    <link rel="stylesheet" href="/frontend/css/font-awesome/css/font-awesome.min.css">

    <!-- simple line icons -->
    <link rel="stylesheet" type="text/css" href="/frontend/css/simpleline-icons/simple-line-icons.css" media="screen" />

    <!-- animations -->
    <link href="/frontend/js/animations/css/animations.min.css" rel="stylesheet" type="text/css" media="all" />

    <!-- responsive devices styles -->
    <link rel="stylesheet" media="screen" href="/frontend/css/responsive-leyouts.css" type="text/css" />

    <!-- shortcodes -->
    <link rel="stylesheet" media="screen" href="/frontend/css/shortcodes.css" type="text/css" />


    <!-- just remove the below comments witch color skin you want to use -->
    <link rel="stylesheet" href="/frontend/css/colors/blue.css" />

    <!-- style switcher -->
    <link rel="stylesheet" media="screen" href="/frontend/js/style-switcher/color-switcher.css" />

    <!-- mega menu -->
    <link href="/frontend/js/mainmenu/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/js/mainmenu/demo.css" rel="stylesheet">
    <link href="/frontend/js/mainmenu/menu.css" rel="stylesheet">

    <!-- MasterSlider -->
    <link rel="stylesheet" href="/frontend/js/masterslider/style/masterslider.css" />
    <link rel="stylesheet" href="/frontend/js/masterslider/skins/default/style.css" />

    <!-- owl carousel -->
    <link href="/frontend/js/carouselowl/owl.transitions.css" rel="stylesheet">
    <link href="/frontend/js/carouselowl/owl.carousel.css" rel="stylesheet">

    <!-- accordion -->
    <link rel="stylesheet" type="text/css" href="/frontend/js/accordion/style.css" />

    <!-- loop slider -->
    <link type="text/css" rel="stylesheet" href="/frontend/js/loopslider/style.css">
	
	<!-- progressbar -->
    <link rel="stylesheet" href="/frontend/js/progressbar/ui.progress-bar.css">
	
	<!-- tabs -->
    <!--<link rel="stylesheet" type="text/css" href="/frontend/js/tabs/assets/css/responsive-tabs3.css">
	<link rel="stylesheet" type="text/css" href="/frontend/js/tabs/tabwidget/tabwidget.css" />-->
	
	<!-- tabs 2 -->
    <link href="/frontend/js/tabs2/tabacc.css" rel="stylesheet" />
    <link href="/frontend/js/tabs2/detached.css" rel="stylesheet" />
	
	<!-- MasterSlider -->
    <link rel="stylesheet" href="/frontend/js/masterslider/style/masterslider.css" />
    <link rel="stylesheet" href="/frontend/js/masterslider/skins/default/style.css" />
	
	<!-- timeline -->
    <link rel="stylesheet" href="/frontend/js/timeline/timeline.css">
    
	<!-- cusom -->
	<link rel="stylesheet" href="/frontend/stylesheets/custom.css">
	
	<!-- portfolio -->
    <link rel="stylesheet" href="/frontend/js/portfolio/style.css">
    <link rel="stylesheet" href="/frontend/js/portfolio/shuffle-styles.css">
    <link rel="stylesheet" href="/frontend/js/portfolio/pretty/css/prettyPhoto.css" type="text/css" media="screen" title="" charset="utf-8" />
	
</head>

<body>

    <%= yield %>
   
</body>

</html>